footer {
    margin: 1.5rem 0;
    display: block;
    padding: 1rem 0;
}


.sosialMedia {
    padding-left: 0;
    justify-content: center;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.sosialMedia ul li {
    display: list-item;
    text-align: center;
}

.sosialMedia a{
    color: #4d4d4d;
    text-decoration: none;
    display: block;
    padding: 1rem 0.5rem;
    font-size: 1.6rem;
}

.sosialMedia a:hover{
    color: #17AAEA;
}

.copyrightSign {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1.05rem;
    gap: 0.5rem;
}

.copyrightSign {
    color: #4d4d4d;
}

.copyrightSign:hover {
    color: #737373;
}